@import "font-face.css";


body {
    margin: 0;
    background-color: #f6f6f6;
    color: #434343;

    font-family: "Ubuntu Regular", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
}

.search {
    margin-top: 200px;
}


.search__form {
    width: 75%;
    position: relative;
    margin: 0 auto;
    min-width: 300px;
}

.search__input {
    position: relative;
    width: 100%;
    padding: 12px;
    padding-right: 120px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    outline: none;
    border-radius: 5px;
    border: 1px solid #9c9c9c;

    background: #FFFFFF;
    font-family: "Ubuntu Regular", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #343434;
}

.search__icon--visible {
    position: absolute;
    top: 15px;
    right: 95px;

    width: 15px;
    height: 15px;

    background-image: url(../img/icon-cross.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.search__input:focus {
    border: 1px solid #389ce4;
    background: #FFFFFF;
    color: #343434;
}

.search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;

    cursor: pointer;

    padding: 12px;
    border: 1px solid #d3572c;
    border-radius: 0 5px 5px 0;
    background-color: #d3572c;

    font-family: "Ubuntu Regular", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

input[type="search"] {
    -webkit-appearance: none;
}

.search__wrapper {
    position: relative;
    z-index: 10;
}

.search__wrapper--closed {
    display: none;
}

.search__dropdown {
    position: absolute;
    display: block;
    top: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #d3d3d4;
    overflow: hidden;
    box-sizing: border-box;

    list-style: none;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.search__dropdown-item {
    height: 39px;
    width: 100%;
}

.search__url {
    display: block;
    white-space: nowrap;
    vertical-align: top;
    position: relative;

    width: auto;
    margin-right: auto;
    text-overflow: clip;

    text-align: left;
    padding: 12px;

    font-family: "Ubuntu Bold", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #343434;
    text-decoration: none;
}

.search__url::after {

}

.search__hint {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    padding-right: 15px;
    padding-left: 5px;
    background-color: #FFFFFF;

    font-family: "Ubuntu Regular", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 39px;
    color: #343434;
    text-decoration: none;
}

.search__hint::before {
    content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    left: -10px;
    top: 0; /* Положение элемента */
    width: 15px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
    /* Градиент */
    background: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0) 100%);
}

.search__overview {
    color: #2b94e2;
}
